name: CI

on:
  push:
    branches: # Trigger only on the main branch to avoid duplicate runs on PR branches
      - main
  pull_request: # Trigger All PRs

jobs:
  rspec:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        ruby: ['2.4', '2.5', '2.6', '2.7', 'ruby-head']
        include:
          - ruby: 'ruby-head'
            experimental: true # a hack to allow tests to fail for ruby-head, https://github.com/actions/toolkit/issues/399

    steps:
    - uses: actions/checkout@v3
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        # note: bundler-cache: true causes problems since we don't commit `Gemfile.lock`, etc.
    - run: bundle install
    - run: bundle exec srb tc
    - run: bundle exec rspec || ${{ matrix.experimental == true }} # the eq forces a boolean instead of an empty string
    - run: bundle exec ruby spec/sorbet_test_cases.rb || ${{ matrix.experimental == true }}
    - name: Upload to Codecov
      uses: codecov/codecov-action@v3
      with:
        file: coverage/coverage.xml
